<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @iteration.name %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @iteration.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @iteration.time_end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @iteration.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @iteration.project_id %>
</p>

<%= link_to 'Edit', edit_iteration_path(@iteration) %> |
<%= link_to 'Back', iterations_path %>
